<html lang="en" ng-app="ng-app">
<head>
    <meta charset="UTF-8">
    <title>Image Editor</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.7.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.9/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.7.9/angular-resource.js"></script>
</head>
<body>
    <div id="content">
        <header ng-controller="headCtrl">
            <div class="option" ng-click="close()">&#x2716</div>
            <div class="option" ng-click="maximize()">&#x1f5d6</div>
            <div class="option" ng-click="minimize()">&#x1f5d5</div>
        </header>
        <div id="mainContent" ng-view></div>
    </div>
    <script src="script.js"></script>
</body>
</html>